.grid {
    display: grid;
    width: 100%;
}

.columns1 {
    grid-template-columns: 1fr;
}

.columns2 {
    grid-template-columns: repeat(2, 1fr);
}

.columns3 {
    grid-template-columns: repeat(3, 1fr);
}

.columns4 {
    grid-template-columns: repeat(4, 1fr);
}

.gapSmall {
    gap: 1rem;
}

.gapMedium {
    gap: 1.5rem;
}

.gapLarge {
    gap: 2rem;
}

/* Responsive */
@media (max-width: 1024px) {
    .columns4, .columns3 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .columns4, .columns3, .columns2 {
        grid-template-columns: 1fr;
    }
}
