.container {
    width: 100%;
    margin: 0 auto;
    padding: 64px 2rem 0;
}

.container.small {
    max-width: 720px;
}

.container.medium {
    max-width: 960px;
}

.container.large {
    max-width: 1200px;
}

.container.full {
    max-width: 100%;
}

@media (max-width: 768px) {
    .container {
        padding: 64px 1.5rem 0;
    }
}

@media (max-width: 640px) {
    .container {
        padding: 64px 1rem 0;
    }
}
